Source: anbox-image
Section: libs
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10), wget
Standards-Version: 4.3.0
Homepage: https://anbox.postmarketos.org
Vcs-Git: https://github.com/maemo-leste-extras/anbox-image
Vcs-Browser: https://github.com/maemo-leste-extras/anbox-image

Package: anbox-image
Architecture: amd64 armhf arm64
Depends: ${misc:Depends}
Description: Android image for Anbox
