Source: anbox-image
Section: libs
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10), wget
Standards-Version: 4.3.0
Homepage: https://anbox.postmarketos.org
Vcs-Git: https://github.com/maemo-leste-extras/anbox-image
Vcs-Browser: https://github.com/maemo-leste-extras/anbox-image

Package: anbox-image-arm64
Architecture: arm64
Depends: ${misc:Depends}
Description: arm64 Android image for Anbox

Package: anbox-image-armhf
Architecture: armhf
Depends: ${misc:Depends}
Description: armhf Android image for Anbox

Package: anbox-image-amd64
Architecture: amd64
Depends: ${misc:Depends}
Description: amd64 Android image for Anbox
